body {
	 background-color: #500707;
	background-size: fill;
	margin-top: 0px;

}
header {
	
	position: absolute;
	margin-top: -20px;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 0;
}

p {
	
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	color: white;


}

.bio {

	background-color: #500707;
	text-align: left;
	margin-left: 200px;
	margin-right: 600px;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	color: #956228;


}

.biophoto {
	
    position: absolute; left:850px; top:130px;
	height: 50%;
		z-index: 2;
	
	
}

#foldingmirrors {

	top: 0;
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}						

#sidebar {

	position: absolute; left:0; top:0;
	height: 100%;
	top: 0
	left: 0;
	z-index: 1;

}

#sidebar2 {

	position: absolute; top: 0; right: 0;
    height: 100%;
	z-index: 2;
}