body {
	 background-image: url("possbackgroundphoto4.gif");
	background-size: 100%;
	margin-top: 0px;

}


}

header {
	position: relative;
	right: 570px;

}

p {
	
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	color: #d30e0e;

}

.footer {
	text-align: center;
	margin-left: 170px;
	margin-right: 200px;
	margin-top: 0px;		
	font-family: 'Righteous', cursive;
	font-size: 54px;
	color: #d30e0e;   
}

.bio {

	background-color: #500707;
	text-align: left;
	margin-left: 200px;
	margin-right: 600px;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	color: #956228;


}


#foldingmirrors {

	top: 10px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}						

#sidebar {

	position: absolute; left:0; top:0;
	height: 75%;
	top: 0
	left: 0;
	z-index: 1;

}

#sidebar2 {

	position: absolute; top: 0; right: 0;
    height: 100%;
	z-index: 2;
}