html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

img { max-width: 100%; }

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
	 background-image: url("possbackgroundphoto2.gif");
	background-size: 100%;
	margin-top: 0px;
	min-width: 300px;

}

.about {
	
	text-align: center;
	margin-left: 200px;
	margin-right: 0px;	
	font-family: 'Cherry Swash', cursive;
	font-size: 36 px;
	color: red;

}



p {
	
	text-align: justify-right;
	margin-left: 200px;
	margin-right: 200px;	
	font-family: 'Cherry Swash', cursive;
	font-size: 36 px;
	color: orange;

}

button {
	background-color: #956228;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;		
	font-family: 'Cherry Swash', cursive;
	font-size: 26px;

}

button {
    -webkit-transition-duration: 2s; 
    transition-duration: 2s;
}

button:hover {
    background-color: #500707; 
    color: white;
}

.footerabout {
	
	text-align: center;
	margin-left: 186px;
	margin-right: 200px;
	margin-top: -177px;		
	font-family: 'Cherry Swash', cursive;
	font-size: 24px;
}

.bio {

	background-color: #500707;
	text-align: left;
	margin-left: 200px;
	margin-right: 600px;	
	font-family: 'Righteous', cursive;
	font-size: 24px;
	color: #956228;

}


#foldingmirrors {
	
	top: 30px;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}						

#sidebar {

	position: absolute; left:0; top:0;
	height: 75%;
	top: 0
	left: 0;
	z-index: 1;

}

#sidebar2 {

	position: absolute; top: 0; right: 0;
    height: 100%;
	z-index: 2;
}