html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

img { max-width: 100%; }

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
	 background-color: #500707;
	background-size: fill;
	margin-top: 0px;

}
header {
	
	position: absolute;
	margin-top: -20px;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 0;
}

p {
	
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;	
	font-family: 'Cherry Swash', cursive;
	font-size: 24px;
	font-color: #c84528;


}

.bio {

	background-color: #500707;
	text-align: left;
	margin-left: 200px;
	margin-right: 600px;	
	font-family: 'Cherry Swash', cursive;
	font-size: 24px;
	color: #c84528;


}

.biophoto {
	
    position: absolute; left:850px; top:130px;
	height: 50%;
		z-index: 2;
	
	
}

#foldingmirrors {

	top: 0;
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}						

#sidebar {

	position: absolute; left:0; top:0;
	height: 100%;
	top: 0
	left: 0;
	z-index: 1;

}

#sidebar2 {

	position: absolute; top: 0; right: 0;
    height: 100%;
	z-index: 2;
}